* {
  box-sizing: border-box;
}

ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.section-header {
  @include respond-to('extra-small') {
    &__title {
      font-size: 23px;
      letter-spacing: 3px;
      font-family: $maintitle-font;
      font-weight: 400;
      color: $main-dark-color;
      text-transform: uppercase;
    }
    &__subtitle {
      color: $theme-color;
      font-family: $subtitle-font;
      font-weight: 400;
      text-transform: capitalize;
    }
  }
  @include respond-to('small') {
    &__title {
      font-size: 32px;
    }
    &__subtitle {
      font-size: 32px;
    }
  }
}

.slider-nav {
  text-align: right;
  .prev-arrow, .next-arrow {
    padding: 10px;
    background-color: $theme-color;
    border: 2px solid transparent;
    display: inline-block;
    &:hover {
      background-color: $main-light-color;
      border: 2px solid $theme-color;
      transition: .3s all;
      & .left-arrow, & .right-arrow {
        border-right: 2px solid $theme-color;
        border-top: 2px solid $theme-color;
      }
    }
  }
  & .left-arrow {
    display: block;
    width: 12px;
    height: 12px;
    border-right: 2px solid $main-light-color;
    border-top: 2px solid $main-light-color;
    transform: rotate(-135deg);
  }
  & .right-arrow {
    display: block;
    width: 12px;
    height: 12px;
    border-right: 2px solid $main-light-color;
    border-top: 2px solid $main-light-color;
    transform: rotate(45deg);
  }
}