.main-btn-light, .main-btn-dark {
  display: block;
  padding: 16px 45px;
  background-color: $main-light-color;
  color: $theme-color;
  font-family: $text-font;
  font-size: 12px;
  font-weight: 700;
  border-radius: 25px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border: 2px solid transparent;
  text-transform: uppercase;
  &:hover {
    color: $main-light-color;
    background-color: $theme-color;
    border: 2px solid $main-light-color;
    transition: .3s all;
  }
}

.main-btn-dark {
  display: inline-block;
  color: $main-light-color;
  background-color: $theme-color;
  text-transform: uppercase;
  &:hover {
    color: $theme-color;
    background-color: $main-light-color;
    border: 2px solid $theme-color;
    transition: .3s all;
  }
}